In [1]:
from datetime import datetime as dt
import numpy as np
import pandas as pd
import math
import matplotlib.dates as mdates
import os
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('wind_data_1.csv')
data = data["%time,field.data"]
data[0]

'1618763951934012262,1618763951.93,\x02P,-004.909,-003.320,-000.229,M,+017.18,00,\x0307'

In [3]:
def load_windata(path):
    import warnings
    warnings.filterwarnings('ignore')
    data = pd.read_csv(path)
    data = data["%time,field.data"]
    data = np.array(data)
    data = data.astype(str)
    data = np.array([l.split(',') for l in data])
    l = np.shape(data)[0]

    newdata = np.zeros((l,5))
    c = 0
    for i in range(0,l):
        try:
            newdata[i,0] = float(data[i][1])
            newdata[i,4] = float(data[i][7])
            newdata[i,3] = float(data[i][5])
            newdata[i,2] = float(data[i][4])
            newdata[i,1] = float(data[i][3])
        except:
            c = c+1
    newdata = pd.DataFrame(newdata, columns = ['Time','U','V','W','Temp'])
#     newdata["Time"] = newdata["Time"].apply(dt.utcfromtimestamp)
    newdata["Time"] = pd.to_datetime(newdata["Time"], unit='s')
    return newdata

In [4]:
w1=pd.read_csv('Galveston3_Part1_processed.csv')
w2=pd.read_csv('Galveston3_Part2_processed.csv')

In [5]:
w1a = load_windata('wind_data_1.csv')
w2a = load_windata('wind_data_2.csv')
gps1 = pd.read_csv('gps_1.csv')
gps2 = pd.read_csv('gps_2.csv')

In [6]:
gps1

,Unnamed: 0,%time,field.header.seq,field.header.stamp,field.header.frame_id,field.tow,field.heading,field.n_sats,field.flags
0,0,1618763951982499143,1,1618763951980361938,NaN,59970600,54594,13,4
1,1,1618763952265709992,2,1618763952265067100,NaN,59970800,54716,13,4
2,2,1618763952470669651,3,1618763952466574907,NaN,59971000,54754,13,4
3,3,1618763952572996338,4,1618763952568240880,NaN,59971200,54766,13,4
4,4,1618763952873061008,5,1618763952872515916,NaN,59971400,54813,13,4
...,...,...,...,...,...,...,...,...,...
42666,222,1618772485197327610,42667,1618772485196739912,NaN,68503800,146790,13,4
42667,223,1618772485553058147,42668,1618772485548652887,NaN,68504000,147514,13,4
42668,224,1618772485595512136,42669,1618772485595118045,NaN,68504200,148250,13,4
42669,225,1618772485817411699,42670,1618772485816318035,NaN,68504400,149102,13,4
42670,226,1618772485956944382,42671,1618772485956362962,NaN,68504600,149796,13,4

In [7]:
w1a

                               Time      U      V      W   Temp
0     2021-04-18 16:39:11.930000128 -4.909 -3.320 -0.229  17.18
1     2021-04-18 16:39:12.029999872 -5.069 -2.824 -0.073  17.06
2     2021-04-18 16:39:12.130000128 -5.291 -2.899 -0.066  17.21
3     2021-04-18 16:39:12.230000128 -5.418 -2.964  0.087  17.28
4     2021-04-18 16:39:12.329999872 -5.608 -3.266  0.365  17.21
...                             ...    ...    ...    ...    ...
85382 2021-04-18 19:01:25.529999872 -0.625 -7.324  2.168  17.81
85383 2021-04-18 19:01:25.630000128 -0.176 -6.567  1.741  17.94
85384 2021-04-18 19:01:25.730000128  0.452 -7.090  2.129  17.91
85385 2021-04-18 19:01:25.829999872  0.383 -7.724  1.902  17.75
85386 2021-04-18 19:01:25.930000128  0.767 -6.961  1.630  17.81

[85387 rows x 5 columns]

In [8]:
def matchtime(wdata,gps):
    import warnings
    warnings.filterwarnings('ignore')
    gtime = gps['%time']
    gtime = pd.to_datetime(gtime, unit='ns')
    angle = gps['field.heading']
    angle = angle/1000
    gps = pd.concat([gtime,angle],axis = 1)
    gps = gps.rename(columns={"%time": "Time", 'field.heading': "Theta"})

    avg_gps = gps.diff()
    avg_gps = avg_gps.reindex(avg_gps.index.drop(0)).reset_index(drop=True)
    avg_gps = avg_gps + gps
    avg_gps=avg_gps.dropna()
    gps = pd.concat([avg_gps,gps])
    # tgps = tgps.reset_index(drop=True)
    gps = gps.sort_values(by=['Time'])
    gps = gps.reset_index(drop=True)
    gps

    threshold = gps['Time'][2]-gps['Time'][0]
    print("Threshold: ",threshold)

    wdata['Theta'] = float(0.00)
    c = 0
    l = wdata.shape[0]
    # print(l)
    for i in range (l):
        diff = abs(gps['Time'][c] - wdata['Time'][i])
        if diff > threshold:
            c = c-1
            diff = abs(gps['Time'][c] - wdata['Time'][i])
        wdata['Theta'][i] = gps['Theta'][c]
        c = c+1
    wdata = wdata[wdata.U != 0]
    return wdata

In [9]:
wdata1 = matchtime(w1a,gps1)
wdata2 = matchtime(w2a,gps2)

Threshold:  0 days 00:00:00.283210849
Threshold:  0 days 00:00:00.211819688

In [10]:
df = pd.concat([wdata1,wdata2])
df = df.reset_index(drop=True)

In [11]:
df.head()

                           Time      U      V      W   Temp   Theta
0 2021-04-18 16:39:11.930000128 -4.909 -3.320 -0.229  17.18  54.594
1 2021-04-18 16:39:12.029999872 -5.069 -2.824 -0.073  17.06  54.716
2 2021-04-18 16:39:12.130000128 -5.291 -2.899 -0.066  17.21  54.716
3 2021-04-18 16:39:12.230000128 -5.418 -2.964  0.087  17.28  54.754
4 2021-04-18 16:39:12.329999872 -5.608 -3.266  0.365  17.21  54.754

In [12]:
ns1 = df["U"]*np.cos(df["Theta"])
ew1 = df["U"]*np.sin(df["Theta"])
ew2 = df["V"]*np.cos(df["Theta"])
ns2 = df["V"]*np.sin(df["Theta"])

In [35]:
ns = ns1 + ns2
we = ew2 - ew1
df["wind_NS"] = ns
df["wind_EW"] = we
df

,Time,U,V,W,Temp,Theta,wind_NS,wind_EW,Ur,Utheta
0,2021-04-18 16:39:11.930000128,-4.909,-3.320,-0.229,17.18,54.594,4.916860,-3.308348,5.926270,0.976148
1,2021-04-18 16:39:12.029999872,-5.069,-2.824,-0.073,17.06,54.716,4.040028,-4.165082,5.802563,1.062509
2,2021-04-18 16:39:12.130000128,-5.291,-2.899,-0.066,17.21,54.716,4.169945,-4.360097,6.033149,1.069558
3,2021-04-18 16:39:12.230000128,-5.418,-2.964,0.087,17.28,54.754,4.092863,-4.624769,6.175761,1.070209
4,2021-04-18 16:39:12.329999872,-5.608,-3.266,0.365,17.21,54.754,4.429508,-4.742982,6.489716,1.043432
...,...,...,...,...,...,...,...,...,...,...
117057,2021-04-18 20:28:34.549999872,-1.899,5.797,-0.913,18.42,174.337,-5.755053,-2.022567,6.100116,-0.316567
117058,2021-04-18 20:28:34.660000000,-2.086,5.854,-1.032,18.52,174.337,-5.808040,-2.210744,6.214556,-0.342310
117059,2021-04-18 20:28:34.760000000,-2.078,6.136,-1.105,18.57,174.337,-6.090146,-2.208778,6.478316,-0.326534
117060,2021-04-18 20:28:34.849999872,-2.135,6.131,-1.115,18.59,174.337,-6.083928,-2.265658,6.492102,-0.335097
117061,2021-04-18 20:28:34.950000128,-2.257,6.127,-1.413,18.52,174.337,-6.077319,-2.387544,6.529485,-0.352945

In [42]:
df['Ur'] = (df.U*df.U + df.V*df.V)**(0.5)
df['Utheta'] = np.degrees(np.arctan(df.U/df.V))
df['Ur_NSEW'] = (df.wind_NS*df.wind_NS + df.wind_EW*df.wind_EW)**(0.5)
df['Utheta_NSEW'] = np.degrees(np.arctan(df.wind_NS/df.wind_EW))
df

,Time,U,V,W,Temp,Theta,wind_NS,wind_EW,Ur,Utheta,Ur_NSEW,Utheta_NSEW
0,2021-04-18 16:39:11.930000128,-4.909,-3.320,-0.229,17.18,54.594,4.916860,-3.308348,5.926270,55.929164,5.926270,-56.065049
1,2021-04-18 16:39:12.029999872,-5.069,-2.824,-0.073,17.06,54.716,4.040028,-4.165082,5.802563,60.877302,5.802563,-44.126826
2,2021-04-18 16:39:12.130000128,-5.291,-2.899,-0.066,17.21,54.716,4.169945,-4.360097,6.033149,61.281156,6.033149,-43.722972
3,2021-04-18 16:39:12.230000128,-5.418,-2.964,0.087,17.28,54.754,4.092863,-4.624769,6.175761,61.318459,6.175761,-41.508429
4,2021-04-18 16:39:12.329999872,-5.608,-3.266,0.365,17.21,54.754,4.429508,-4.742982,6.489716,59.784235,6.489716,-43.042653
...,...,...,...,...,...,...,...,...,...,...,...,...
117057,2021-04-18 20:28:34.549999872,-1.899,5.797,-0.913,18.42,174.337,-5.755053,-2.022567,6.100116,-18.137928,6.100116,70.636385
117058,2021-04-18 20:28:34.660000000,-2.086,5.854,-1.032,18.52,174.337,-5.808040,-2.210744,6.214556,-19.612892,6.214556,69.161421
117059,2021-04-18 20:28:34.760000000,-2.078,6.136,-1.105,18.57,174.337,-6.090146,-2.208778,6.478316,-18.709036,6.478316,70.065277
117060,2021-04-18 20:28:34.849999872,-2.135,6.131,-1.115,18.59,174.337,-6.083928,-2.265658,6.492102,-19.199666,6.492102,69.574647
117061,2021-04-18 20:28:34.950000128,-2.257,6.127,-1.413,18.52,174.337,-6.077319,-2.387544,6.529485,-20.222259,6.529485,68.552054

In [ ]:
# test = pd.read_csv("wind_data_processed.csv")
# test

In [43]:
df.to_csv(r'wind_data_processed.csv', index = False)
df

,Time,U,V,W,Temp,Theta,wind_NS,wind_EW,Ur,Utheta,Ur_NSEW,Utheta_NSEW
0,2021-04-18 16:39:11.930000128,-4.909,-3.320,-0.229,17.18,54.594,4.916860,-3.308348,5.926270,55.929164,5.926270,-56.065049
1,2021-04-18 16:39:12.029999872,-5.069,-2.824,-0.073,17.06,54.716,4.040028,-4.165082,5.802563,60.877302,5.802563,-44.126826
2,2021-04-18 16:39:12.130000128,-5.291,-2.899,-0.066,17.21,54.716,4.169945,-4.360097,6.033149,61.281156,6.033149,-43.722972
3,2021-04-18 16:39:12.230000128,-5.418,-2.964,0.087,17.28,54.754,4.092863,-4.624769,6.175761,61.318459,6.175761,-41.508429
4,2021-04-18 16:39:12.329999872,-5.608,-3.266,0.365,17.21,54.754,4.429508,-4.742982,6.489716,59.784235,6.489716,-43.042653
...,...,...,...,...,...,...,...,...,...,...,...,...
117057,2021-04-18 20:28:34.549999872,-1.899,5.797,-0.913,18.42,174.337,-5.755053,-2.022567,6.100116,-18.137928,6.100116,70.636385
117058,2021-04-18 20:28:34.660000000,-2.086,5.854,-1.032,18.52,174.337,-5.808040,-2.210744,6.214556,-19.612892,6.214556,69.161421
117059,2021-04-18 20:28:34.760000000,-2.078,6.136,-1.105,18.57,174.337,-6.090146,-2.208778,6.478316,-18.709036,6.478316,70.065277
117060,2021-04-18 20:28:34.849999872,-2.135,6.131,-1.115,18.59,174.337,-6.083928,-2.265658,6.492102,-19.199666,6.492102,69.574647
117061,2021-04-18 20:28:34.950000128,-2.257,6.127,-1.413,18.52,174.337,-6.077319,-2.387544,6.529485,-20.222259,6.529485,68.552054

In [16]:
# test = pd.read_csv("wind_data_processed.csv")
# test